Redirect permanent "/proglet/doc/about-all.htm" "http://javascool.gforge.inria.fr"
Redirect permanent "/proglet/doc/about-resume.htm" "http://javascool.gforge.inria.fr"
Redirect permanent "/proglet/doc/about-algorithm.htm" "http://interstices.info/ingredients-algorithmes"
Redirect permanent "/proglet/doc/sujet-hello-world.htm" "http://javascool.gforge.inria.fr/v4/index.php?page=proglets&action=show&id=abcdAlgos&helpFile=./tutoriel.htm"
Redirect permanent "/proglet/doc/sujet-about-hello-world.htm" "http://javascool.gforge.inria.fr/v4/index.php?page=proglets&action=show&id=abcdAlgos&helpFile=./tutoriel.htm"
Redirect permanent "/proglet/doc/sujet-about-variables.htm" "http://javascool.gforge.inria.fr/v4/index.php?page=proglets&action=show&id=abcdAlgos&helpFile=./variables.htm"
Redirect permanent "/proglet/doc/sujet-about-if.htm" "http://javascool.gforge.inria.fr/v4/index.php?page=proglets&action=show&id=abcdAlgos&helpFile=./condition.htm"
Redirect permanent "/proglet/doc/sujet-about-functions.htm" "http://javascool.gforge.inria.fr/v4/index.php?page=proglets&action=show&id=abcdAlgos&helpFile=./fonctions.htm"
Redirect permanent "/proglet/doc/sujet-about-while.htm" "http://javascool.gforge.inria.fr/v4/index.php?page=proglets&action=show&id=abcdAlgos&helpFile=./boucles.htm"
RedirectMatch permanent "/(proglet/.*\.htm)$" "http://javascool.gforge.inria.fr?page=$1"
